body {
  width: 100%;
  max-width: 100%;
}

.wrap {
  overflow: hidden;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.logo {
  width: 100px;
  height: 100px;
}
.logo img {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
