.footer {
  //   height: 100px;
  background-color: #333333;
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;

  .container {
    padding: 0;
  }

  p {
    color: #fff;
    padding-top: 25px;
    padding-left: 50px;
    // margin-bottom: auto;
    @media #{$smartphone} {
      font-size: 15px;
    }
    @media #{$pc} {
      padding-top: 30px;
    }
  }
}
